asgiref
certifi
cffi
charset-normalizer
cryptography
defusedxml
dj-rest-auth
Django
django-allauth
django-autoslug
django-cors-headers
django-oauth-toolkit
django-phonenumber-field
djangorestframework
djangorestframework-simplejwt
idna
jwcrypto
oauthlib
phonenumberslite
pip
psycopg2
pycparser
PyJWT
python3-openid
pytz
requests
requests-oauthlib
social-auth-app-django
social-auth-core
sqlparse
typing_extensions
tzdata
urllib3